packages/*
listviewratings/listviewratings/bin/*
listviewratings/listviewratings/obj/*
listviewratings/listviewratings.Windows/*
listviewratings/listviewratings.Droid/bin/*
listviewratings/listviewratings.Droid/obj/*
listviewratings/listviewratings.iOS/bin/*
listviewratings/listviewratings.iOS/obj/*

